html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

header {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

canvas {
  border: solid thin black;
  flex-grow: 1;
}

.color {
  display: flex;
  gap: 1ch;
  align-items: center;

  .box {
    height: 1em;
    width: 1em;
    border: solid thin black;
    border-radius: 0.2em;
  }
}

.delete {
  font-size: 1.5em;
  padding: 0.1em 0.2em;
  border-radius: 0.2em;
  border: solid thin black;
  user-select: none;
  cursor: pointer;

  &.active {
    background-color: #cff;
  }
}
